// .eslintrc
{
  "extends": "airbnb",
  "root": true,
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NW__" : false
  },
  "env": {
        "browser": true,
        "node": true
    },
  "ecmaFeatures": {
    "generators": true,
    "restParams": true,
    "spread": true
  },
  "rules": {
    "comma-dangle": [1, "never"],
    "semi": [0],
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }],
    "quotes": [0],
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "object-curly-spacing": 0,
    "spaced-comment": 0,
    "space-in-parens": 0,
    "array-bracket-spacing": 0
  },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
   "parser": "babel-eslint"
}