body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-field {
  background-color: darkgray;
  padding: 14px;
  border-radius: 5px;
}